<section id="last-section" class="section"></section>
<!-- Start: Footer -->
<footer id="footer" class="clear">
  <div class="footer clear">
    <div class="container">
      {% if page.footer_top %}
        <section class="footer-top clear">
          {{ page.footer_top }}
        </section>
      {% endif %}<!-- /footer-top -->
      {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
       <section class="footer-blocks clear">
        {% if page.footer_first %}
          <div class="footer-block">
            {{ page.footer_first }}
          </div>
        {% endif %}<!--/footer-first -->
        {% if page.footer_second %}
          <div class="footer-block">
            {{ page.footer_second }}
          </div>
        {% endif %}<!--/footer-second -->
        {% if page.footer_third %}
          <div class="footer-block">
            {{ page.footer_third }}
          </div>
        {% endif %}<!--/footer-third -->
        {% if page.footer_fourth %}
          <div class="footer-block footer-block-last">
            {{ page.footer_fourth }}
            {% if all_icons_show %}
          <div class="footer-bottom-middle-right">
            {% include '@grt/template-parts/social-icons.html.twig' %}
          </div>
        {% endif %} <!-- end if for all_icons_show -->
          </div>
        {% endif %}<!--/footer-fourth -->
       </section> <!--/footer-blocks -->
     {% endif %} {# end if for footer one, two, three, four blocks #}
     {% if copyright_text or all_icons_show %}
      <section class="footer-bottom-middle clear">
        {% if copyright_text %}
          <div class="copyright">
            &copy; {{ "now"|date("Y") }} {{ site_name }}, All rights reserved.
          </div>
        {% endif %} <!-- end if for copyright -->        
      </section><!-- /footer-bottom-middle -->
     {% endif %} <!-- end condition if copyright or social icons -->
     {% if page.footer_bottom %}
       <div class="footer-bottom">
         {{ page.footer_bottom }}
       </div> <!--/.footer-bottom -->
     {% endif %} <!-- end condition for footer_bottom -->
    </div><!-- /.container -->
  </div> <!--/.footer -->
</footer>
{% if scrolltotop_on %}
<div class="scrolltop"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
{% endif %}
<!-- End: Footer -->
