{#
/**
 * @file
 * Grt's theme implementation to display front page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template.
 *
 */
#}
{% include '@grt/template-parts/header.html.twig' %}
<div id="main-wrapper" class="main-wrapper">
  <div class="container">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {% if front_sidebar %}
      <main id="main" class="homepage-content page-content" role="main">
    {% else %}
      <main id="front-main" class="homepage-content page-content" role="main">
    {% endif %}
      {% include '@grt/template-parts/content_top.html.twig' %}
      {% if page.content %}
				{{ page.content }}
			{% endif %}
			{% if page.content_home %}
				<div class="homepage-content">
					{{ page.content_home }}
				</div><!--/.homepage-content -->
			{% endif %}
      {% include '@grt/template-parts/content_bottom.html.twig' %}
    </main>
    {% if front_sidebar %}
      {% include '@grt/template-parts/left_sidebar.html.twig' %}
      {% include '@grt/template-parts/right_sidebar.html.twig' %}
    {% endif %}
  </div> <!--/.container -->
</div><!-- /main-wrapper -->
{% include '@grt/template-parts/footer.html.twig' %}
{% if slider_show %}
  <script>
  jQuery(document).ready(function ($) {
    $('.home-slider').owlCarousel({
      items: 1,
      loop: true,
      autoplay: true,
      nav: false,
      dots: {{ slider_dots }},
      autoplayTimeout: {{ slider_time }},
    });
  });
  </script>
	{{ attach_library('grt/slider') }}
{% endif %}
